<template>
  <div class="container">
    <div class="row">
      <a href="#" @click="Post = null" class="btn btn-primary m-4" v-show="Post">Список постов</a>
      <template v-if="!Post">
        <div v-for="post in Posts" class="col-12 border border-1 m-4">
          <div @click="Post = post" class="row" style="cursor: pointer">
            <div class="col-2">
              <img style="width: 150px" :src="post.img" alt="">
            </div>
            <div class="col-10">
              <h2>{{ post.title }}</h2>
              <strong>{{ post.desc }}</strong>
            </div>
          </div>
        </div>
      </template>

      <div class="col-12 d-flex justify-content-center" v-else>
        <div class="card" style="width: 50%">
          <img :src="Post.img" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ Post.title }}</h5>
            <p class="card-text">{{ Post.body }}.</p>
            <a @click="addCom = true" href="#" class="btn btn-primary">Добавить комментарий</a>
          </div>
        </div>
      </div>

      <div class="input-group p-4" v-show="addCom">
        <textarea v-model="addComVal" class="form-control" aria-label="With textarea"></textarea>
        <button @click="addComent()" class="btn btn-outline-secondary" type="button">Комментировать</button>
      </div>

      <template v-if="Post">
        <div v-for="com in Post.com" class="alert alert-primary my-4" role="alert">
          {{ com.title }}

          <div v-for="comcom in com.item" class="alert alert-success m-4" role="alert">
            {{ comcom }}
          </div>

          <div class="input-group p-4">
            <textarea v-model="com.add" class="form-control" aria-label="With textarea"></textarea>
            <button @click="addComentCom(com)" class="btn btn-outline-secondary" type="button">Комментировать</button>
          </div>
        </div>
      </template>

    </div>
  </div>
</template>

<script setup>
import {ref} from "vue";

const Posts = ref([
  {
    title: 'Post 1',
    desc: 'Противоположная точка зрения подразумевает, что стремящиеся вытеснить традиционное производство, нанотехнологии будут заблокированы в рамках своих собственных рациональных ограничений.',
    body: 'Однозначно, явные признаки победы институционализации являются только методом политического участия и превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Мы вынуждены отталкиваться от того, что консультация с широким активом предопределяет высокую востребованность прогресса профессионального сообщества. Противоположная точка зрения подразумевает, что диаграммы связей объявлены нарушающими общечеловеческие нормы этики и морали. Лишь непосредственные участники технического прогресса смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Лишь явные признаки победы институционализации объективно рассмотрены соответствующими инстанциями.',
    img: '/img_1.jpg',
    com: [],
  },
  {
    title: 'Post 1',
    desc: 'С другой стороны, сплочённость команды профессионалов предоставляет широкие возможности для дальнейших направлений развития.',
    body: 'Следует отметить, что убеждённость некоторых оппонентов не оставляет шанса для своевременного выполнения сверхзадачи. Каждый из нас понимает очевидную вещь: сложившаяся структура организации требует от нас анализа модели развития. Есть над чем задуматься: явные признаки победы институционализации и по сей день остаются уделом либералов, которые жаждут быть ассоциативно распределены по отраслям. Имеется спорная точка зрения, гласящая примерно следующее: элементы политического процесса освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, в равной степени предоставлены сами себе. Ясность нашей позиции очевидна: внедрение современных методик создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса вывода текущих активов.',
    img: '/img_1.jpg',
    com: [],
  },
  {
    title: 'Post 1',
    desc: 'Но некоторые особенности внутренней политики, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут представлены в исключительно положительном свете.',
    body: 'Таким образом, выбранный нами инновационный путь предоставляет широкие возможности для поставленных обществом задач! Но некоторые особенности внутренней политики являются только методом политического участия и преданы социально-демократической анафеме. Лишь непосредственные участники технического прогресса призывают нас к новым свершениям, которые, в свою очередь, должны быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Сложно сказать, почему реплицированные с зарубежных источников, современные исследования и по сей день остаются уделом либералов, которые жаждут быть в равной степени предоставлены сами себе. Для современного мира консультация с широким активом играет важную роль в формировании укрепления моральных ценностей.',
    img: '/img_1.jpg',
    com: [],
  }
])
const Post = ref()
let addCom = ref()
let addComVal = ref()
const addComent = () => {
  addCom.value = false;
  Post.value.com.push({title: addComVal.value, item:[]})
  addComVal.value = null
}
const addComentCom = (comcom) => {
  comcom.item.push(comcom.add)
  comcom.add = null
}
</script>
